img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
h1{
    color:#F8E72D;
    text-shadow: 3px 3px 3px #999;
}
h2{
    color:#F8E72D;
    text-shadow: 3px 3px 3px #999;
}
p{
    text-align: justify;
    color: #0E0D0D;
}
h3{
    color:#E09898
}
#vd {
    text-align: center;
    margin: 0 auto;
    margin: 0 0vw 0 0;
    background-color: rgba(252, 211, 48, .2);
    border: 20px solid rgba(252, 211, 48, .1);
    box-shadow: 10px 10px 20px #AB867D;
  }
  
  #vd>video {
    width: 65vw;
    height: 380px;
  }